<h2>{{ editMode ? ('rooms-monitoring.view.titleEdit' | translate)
  : ('rooms-monitoring.view.titleNew' | translate)}}</h2>
<div class="form-section">
  <form (submit)="onSubmit()" #roomForm='ngForm' class="form-row">

    <mat-form-field>
      <input matInput placeholder="{{ 'rooms-monitoring.view.name' | translate }}" name="name" required [(ngModel)]="room.name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'rooms-monitoring.view.description' | translate }}" name="description" required [(ngModel)]="room.description">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Price" name="price" required [(ngModel)]="room.price">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'rooms-monitoring.view.worker' | translate }}" name="workName" required [(ngModel)]="room.workName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'rooms-monitoring.view.client' | translate }}" name="clientName" required [(ngModel)]="room.clientName">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="{{ 'rooms-monitoring.view.total-beds' | translate }}" name="totalBeds" required [(ngModel)]="room.totalBeds">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="{{ 'rooms-monitoring.view.total-bathrooms' | translate }}" name="totalBathroom" required [(ngModel)]="room.totalBathroom">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="{{ 'rooms-monitoring.view.total-television' | translate }}" name="totalTelevision" required [(ngModel)]="room.totalTelevision">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'rooms-monitoring.view.status' | translate }}" name="state" required [(ngModel)]="room.state">
    </mat-form-field>

    <ng-container *ngIf="editMode; else elseTemplate">
      <button mat-raised-button color="primary">{{ 'rooms-monitoring.view.edit' | translate }}</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </ng-container>

    <ng-template #elseTemplate>
      <button mat-raised-button color="primary">{{ 'rooms-monitoring.view.add' | translate }}</button>
    </ng-template>

  </form>
</div>
