<div class="company-details">
  <div class="section">
    <p><strong>{{"profile.company.business-name"|translate}}:</strong> <span class="info">Peru Agro J&V S.A.C</span></p>
    <p><a href="#">{{"profile.company.change-business-name"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.company.RUC"|translate}}:</strong> <span class="info">20602479448</span></p>
    <p><a href="#">{{"profile.company.change-RUC"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.company.company"|translate}}:</strong></p>
    <p><a href="#" class="delete-company">{{"profile.company.delete-company"|translate}}</a></p>
  </div>
</div>
