<form [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>{{'iam.log-in.labels.email' | translate}}</mat-label>
    <input matInput type="email" id="email" name="email" required formControlName="email">
    <mat-error *ngIf="isInvalidControl(form, 'email')">
      {{errorMessagesForControl(form, 'email')}}
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.log-in.labels.password' | translate}}</mat-label>
    <input matInput id="password" type="password" name="password" required formControlName="password">
    <mat-error *ngIf="isInvalidControl(form, 'password')">
      {{errorMessagesForControl(form, 'password')}}
    </mat-error>
  </mat-form-field>

  <br>

  <mat-checkbox>
    {{'iam.log-in.checkbox-password' | translate}}
  </mat-checkbox>
  <br>
  <div class="center">
    <button mat-raised-button color="primary">{{'iam.log-in.button-login' | translate}}</button>
<!--    <mat-button-toggle class="btn btn-primary" (click)="onSUbmit()">{{'iam.log-in.button-login' | translate}}</mat-button-toggle>-->
  </div>
</form>

<style>
  .center{
    text-align: center;
  }
  .full-width{
    width: 350px;
  }
</style>
