<form>
  <mat-form-field class="full-width">
    <mat-label>{{'iam.log-in.labels.email' | translate}}</mat-label>
    <input matInput type="email" [(ngModel)]="emailUser" name="email" required>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.log-in.labels.password' | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="passwordUser" name="password" required>
  </mat-form-field>

  <br>

  <mat-checkbox>
    {{'iam.log-in.checkbox-password' | translate}}
  </mat-checkbox>
  <br>
  <div class="center">
    <mat-button-toggle class="btn btn-primary" (click)="logIn()">{{'iam.log-in.button-login' | translate}}</mat-button-toggle>
  </div>
</form>

<style>
  .center{
    text-align: center;
  }
  .full-width{
    width: 350px;
  }
</style>
