<div class="profile-details">
  <div class="section">
    <p><strong>{{"profile.user.name"|translate}}:</strong> <span class="info">Winston Smith</span></p>
    <p><a href="#">{{"profile.user.change-name"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.user.email"|translate}}:</strong> <span class="info">winston&#64;gmail.com</span></p>
    <p><a href="#">{{"profile.user.change-email"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.user.company"|translate}}:</strong> <span class="info">Peru Agro J&V S.A.C</span></p>
    <p><a href="#">{{"profile.user.view-company"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.user.role"|translate}}:</strong> <span class="info">Administrator</span></p>
    <p><a href="#">{{"profile.user.change-role"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.user.password"|translate}}:</strong> <span class="info">
    <input [type]="hidePassword ? 'password' : 'text'" value="chiquitin2610" id="password">
    <i (click)="togglePasswordVisibility()">👁️</i>
  </span></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.user.account"|translate}}</strong></p>
    <p><a href="#" class="delete-account">{{"profile.user.delete-account"|translate}}</a></p>
  </div>
  <div class="section">
    <p><strong>{{"profile.user.notifications"|translate}}</strong> <input type="checkbox"></p>
  </div>
</div>
