<div class="profile-details">
  <div class="section">
    <p><strong>Name:</strong> <span class="info">Winston Smith</span></p>
    <p><a href="#">Change name</a></p>
  </div>
  <div class="section">
    <p><strong>Email:</strong> <span class="info">winston&#64;gmail.com</span></p>
    <p><a href="#">Change email</a></p>
  </div>
  <div class="section">
    <p><strong>Company:</strong> <span class="info">Peru Agro J&V S.A.C</span></p>
    <p><a href="#">View company</a></p>
  </div>
  <div class="section">
    <p><strong>Role within the company:</strong> <span class="info">Administrator</span></p>
    <p><a href="#">Change role</a></p>
  </div>
  <div class="section">
    <p><strong>Password:</strong> <span class="info">
    <input [type]="hidePassword ? 'password' : 'text'" value="chiquitin2610" id="password">
    <i (click)="togglePasswordVisibility()">👁️</i>
  </span></p>
  </div>
  <div class="section">
    <p><strong>Account</strong></p>
    <p><a href="#" class="delete-account">Delete Account</a></p>
  </div>
  <div class="section">
    <p><strong>Notifications</strong> <input type="checkbox"></p>
  </div>
</div>
