@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.main-container {
  background-color: #F8F8F8;
  margin-top:-1%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:-0.5%;
}

.grid-charts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: auto;
  transform:translateY(4%);
  width: 63%;
  height: 32em;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0.28em 0.28em 0 rgba(0, 0, 0, 0.25);
}


.title-container p.title-panel-control {
  font-size: 18px;
  font-weight: bold;
  color: #4A845B;
  font-family: 'Nunito', sans-serif;
}

.title-container p.title-statistical-reports {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

.grid-charts-container .col.monthly-expenses {
  transform:translate(-60%, 10%);
}

.grid-charts-container .col.monthly-income {
  transform:translate(60%, -90%);
}

.grid-charts-container .col.room-chart {
  transform:translate(0%, -83%);
}

.return-button {
  transform:translate(1em, -18em);
  padding: 4px;
  border-radius: 8px;
  background-color: #4D6443;
  content: "←";
  font-size: 25px;
  color: #F8F8F8;
  border-color: #4D6443;
}

@media (max-width:1280px){
  .grid-charts-container .col.monthly-expenses {
    transform:translate(0%, 0%);
  }

  .grid-charts-container .col.monthly-income {
    transform:translate(0%, 0%);
  }

  .grid-charts-container .col.room-chart {
    transform:translate(0%, 0%);
  }

  .grid-charts-container{
    height: auto;
  }

  .return-button {
    transform:translate(1em, -23.8em);
  }

}
