<header>
  <app-toolbar-content [options]="options"></app-toolbar-content>
</header>

<div class="main-container">
  <div class="grid-charts-container">
    <div class="title-container">
      <p class=" title-panel-control">{{'dashboard.recently-viewed-statistic'|translate}}</p>
      <p class="title-statistical-reports">{{'control-panel'|translate}}</p>
    </div>
    <div class="col monthly-expenses">
      <app-monthly-expenses></app-monthly-expenses>
    </div>
    <div class="col monthly-income">
      <app-monthly-income></app-monthly-income>
    </div>
    <div class="col room-chart">
      <app-room-chart></app-room-chart>
    </div>
  </div>
  <button class="return-button">←</button>
</div>



