<header>
  <app-toolbar-content [options]="options"></app-toolbar-content>
</header>
<div class="page-container">
  <div class="main-container">
    <div class="grid-charts-container">
      <div class="title-container">
        <p class="profile-title">My Profile</p>
      </div>
      <div class="profile-image-container">
        <app-profile-image></app-profile-image>
      </div>
      <div class="profile-details-container">
        <app-profile-details></app-profile-details>
      </div>
    </div>
  </div>
</div>
