<!-- Create and Edit Form -->
<h2>{{ editMode ? ('actions.edit' | translate) + ' ' + ('supply.title' | translate) + ':'
  : ('actions.add' | translate) + ' ' + ('supply.title' | translate) + ':'}}</h2>
<div class="form-section">
  <form (submit)="onSubmit()" #supplyForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="{{'supply.product' | translate}}" name="product" required [(ngModel)]="supply.product">
    </mat-form-field>
    <mat-form-field id="quantity-form-field">
      <input matInput type="number" placeholder="{{ 'supply.quantity' | translate }}" name="quantity" required [(ngModel)]="supply.quantity">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'supply.address' | translate }}" name="address" required [(ngModel)]="supply.address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'supply.expire' | translate }}" name="expire" required [(ngModel)]="supply.expire">
    </mat-form-field>
    <ng-container *ngIf="editMode; else elseTemplate">
      <button mat-raised-button color="primary">{{ 'actions.update' | translate }}</button>
      <button mat-raised-button color="warn" (click)="onCancel()">{{ 'actions.cancel' | translate }}</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-raised-button color="primary" style="margin-left: 10px">{{ 'actions.add' | translate }}</button>
    </ng-template>
  </form>
</div>
