<header>
  <app-toolbar-content [options]="options"></app-toolbar-content>
</header>

<div class="table-wrapper">
  <h1>{{ 'rooms-monitoring.view.title' | translate }}</h1>

  <!--Add/Edit Form-->
  <app-room-create-and-edit (editCanceled)="onCancelEdit()"
                            (roomAdded)="onRoomAdded($event)"
                            (roomUpdated)="onRoomUpdated($event)"
                            [editMode] = "isEditMode"
                            [room]="roomData"/>
  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> #Id</th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="typeBedroom">
      <th *matHeaderCellDef mat-header-cell>{{ 'rooms-monitoring.view.typeBedroomId' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.typeBedroomId }}</td>
    </ng-container>

    <ng-container matColumnDef="worker">
      <th *matHeaderCellDef mat-header-cell>{{ 'rooms-monitoring.view.worker' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.workerId }}</td>
    </ng-container>

    <ng-container matColumnDef="totalBeds">
      <th *matHeaderCellDef mat-header-cell>{{ 'rooms-monitoring.view.totalbeds' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.totalBeds }}</td>
    </ng-container>

    <ng-container matColumnDef="totalBathrooms">
      <th *matHeaderCellDef mat-header-cell>{{ 'rooms-monitoring.view.totalbathrooms' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.totalBathroom }}</td>
    </ng-container>

    <ng-container matColumnDef="totalTelevision">
      <th *matHeaderCellDef mat-header-cell>{{ 'rooms-monitoring.view.totaltelevision' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.totalTelevision }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>{{ 'rooms-monitoring.view.status' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.state }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
        <a (click)="onEditItem(element)" href="javascript:void(0)"><mat-icon>edit</mat-icon></a>
        <a (click)="onDeleteItem(element)" href="javascript:void(0)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns" [ngClass]="{'editable-row': roomData.id === row.id }" mat-row></tr>
  </table>
  <!-- Paginator child component-->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
