table {
  width: 100%;
}

tr.editable-row {
  background-color: lightblue;
}

.table-header {
  p {
    font-size: 1.5rem;
    color: #008000;
    margin-top: 10px;
    margin-bottom: 0;
  }
  h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
  }
  text-align: center;
}
