@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

div.page-container {
  background-color: #F8F8F8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.main-container {
  background-color: #F8F8F8;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.company-container {
  height: 34vh;
}

div.workers-container {
  height: 40vh;
}


div.company-title-container {
  width: 100%; /* Ajusta este valor según tus necesidades */
}

div.company-title-container p.company-title {
  font-size: 1.7em;
  margin-left: -77%;
  margin-top: 0.7%;
  font-weight: bold;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  text-align: center; /* Alinea el texto al centro */
}

div.workers-title-container {
  width: 100%; /* Ajusta este valor según tus necesidades */
}

div.workers-title-container p.workers-title {
  font-size: 1.7em;
  margin-left: -78%; /* Ajusta este valor según tus necesidades */
  font-weight: bold;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  text-align: center; /* Alinea el texto al centro */
}
div.company-container, div.workers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin: 0.7em auto;
  width: 84%;
  padding: 0.9em;
  border-radius: 1.4em;
  box-shadow: 0 0.28em 0.28em 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 1240px) {

  div.company-title-container p.company-title{
    margin-left: -7%;
    margin-top: 2%;
  }

  div.workers-title-container p.workers-title {
    margin-left: -14%;
    margin-top: 2%;
  }

  div.company-container,
  div.workers-container {
    height: auto;
  }
}
