<header>
  <app-toolbar-content [options]="options"></app-toolbar-content>
</header>
<div class="page-container">
  <div class="main-container">
    <div class="company-container">
      <div class="company-title-container">
        <p class="company-title">{{"profile.company.my-company"|translate}}</p>
      </div>
      <div class="company-logo-container">

        <app-company-logo></app-company-logo>
      </div>
      <div class="company-details-container">
        <app-company-details></app-company-details>
      </div>
    </div>
    <div class="workers-container">
      <div class="workers-title-container">
        <p class="workers-title">{{"profile.company.workers"|translate}}</p>
      </div>
      <div class="workers-management">
        <app-workers-management></app-workers-management>
      </div>
    </div>
  </div>
</div>
