<div class="search-container">
  <div class="search-bar">
    <button class="invite-button">{{"profile.company.invite-workers"|translate}}</button>
    <input type="text" class="search-input" [placeholder]="'profile.company.search-workers' | translate">
    <i class="fas fa-search search-icon"></i>
  </div>
  <hr class="search-line">
  <div class="workers-container">
    <div class="worker">
      <img src="assets/user.png" alt="Christopher Espinoza">
      <p class="worker-name">Christopher Espinoza</p>
      <div class="more-info">
        <span>{{"profile.company.view-more"|translate}}</span>
        <i class="fas fa-eye"></i>
      </div>
    </div>
    <div class="worker">
      <img src="assets/user.png" alt="Juanito Alcachofa">
      <p class="worker-name">Juanito Alcachofa</p>
      <div class="more-info">
        <span>{{"profile.company.view-more"|translate}}</span>
        <i class="fas fa-eye"></i>
      </div>
    </div>
    <div class="worker">
      <img src="assets/user.png" alt="Manuel Zoppi">
      <p class="worker-name">Manuel Zoppi</p>
      <div class="more-info">
        <span>{{"profile.company.view-more"|translate}}</span>
        <i class="fas fa-eye"></i>
      </div>
    </div>
    <div class="worker">
      <img src="assets/user.png" alt="Angello Linares">
      <p class="worker-name">Angello Linares</p>
      <div class="more-info">
        <span>{{"profile.company.view-more"|translate}}</span>
        <i class="fas fa-eye"></i>
      </div>
    </div>
  </div>
</div>
