.search-container {
  font-family: 'Roboto', sans-serif;
}

.search-bar {
  margin-left: -2%;
  margin-top: -2%;
  margin-bottom: 4%;
  position:relative;
}

.search-input {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  padding: 0.5em;
  box-sizing: border-box;
}

.search-icon {
  position:  absolute;
  left: -15px;
  top: 63%;
  font-size: 0.9em;
}

.search-line {
  position: relative;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.42);
  margin-top: -4.5%;
  margin-left: -4.7%;
}

.workers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.worker {
  text-align: center;
  margin: 1.5vw -4vw 1.5vw -4%;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */

}
.worker:hover {
  transform: scale(1.07); /* Scale the worker element up to 105% when hovered */
}

.worker img {
  width: 50%;
  height: 55%;
}

.worker-name {
  font-family: 'Nunito', sans-serif;
  font-size: 0.9em;
  color: #000000;
}

.more-info {
  font-family: 'Nunito', sans-serif;
  font-size: 0.75em;
  color: #4A845B;
  display: flex;
  align-items: center;
  margin-left: 110px;
  margin-top: -3%;
  transition: all 0.3s ease-in-out; /* Transition all properties for smooth animation */
  cursor: pointer;
}

.more-info:hover {
  color: #2A634B; /* Change color to a darker shade when hovered */
  transform: translateY(-4px); /* Slightly shift the more-info element upward when hovered */
}

.more-info i {
  font-size: 0.7em;
  transition: color 0.3s ease-in-out;
}

.more-info:hover i {
  color: #2A634B; /* Change color to a darker shade when hovered */
}

.more-info span {
  margin-right: 2%;
  margin-top: -1%;
}


.invite-button {
  font-family: 'Nunito', sans-serif;
  font-size: 0.9em;
  color: #F8F8F8;
  background-color: #4A845B;
  border: 0.4em solid #4A845B;
  border-radius: 50px;
  transform: translateY(100%);
  margin-left: 84%;
}
.invite-button:active {
  background-color: #2A634B;
  border: 0.4em solid #2A634B;
}


@media (max-width: 1240px) {
  .search-bar {
    margin-left: 7%;
  }

  .search-line {
    width: 50%;
    margin-left: 4%;
  }
}

@media (max-width: 940px) {
  .invite-button{
    margin-left: 70%;
  }
}

@media (max-width: 760px) {
  .invite-button{
    margin-left: 60%;
    transform: translateY(9%);
  }

  .search-line {
    width: 40%;
  }
}

@media (max-width: 555px) {
  .invite-button{
    margin-left: 55%;
    transform: translateY(27%);
  }

  .search-line {
    width: 35%;
  }
}

@media (max-width: 375px) {
  .invite-button {
    margin-left: 4%;
    transform: translateY(-50%);
    font-size: 0.8em;
    padding: 0.1em 0.6em;
  }
  .search-line {
    width: 70%;
  }
}
