<form>
  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.company-name' | translate}}</mat-label>
    <input matInput [(ngModel)]="companyName"  name="companyName" required>
  </mat-form-field>
  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.ruc' | translate}}</mat-label>
    <input matInput [(ngModel)]="ruc" name="ruc" required>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.email' | translate}}</mat-label>
    <input matInput [(ngModel)]="emailUser" name="email" required>
  </mat-form-field>
  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.full-name' | translate}}</mat-label>
    <input matInput  [(ngModel)]="completeNameUser" name="completeName" required>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.password' | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="passwordUser" name="password" required>
  </mat-form-field>

  <br>

  <mat-checkbox>
    {{'iam.sign-in.checkbox-privacy' | translate}}
  </mat-checkbox>

  <div class="center">
    <mat-button-toggle (click)="register()" class="btn btn-primary">{{'iam.sign-in.button-sign-in' | translate}}</mat-button-toggle>
  </div>

</form>

<style>
  .center{
    text-align: center;
  }

  .full-width{
    width: 500px;
  }
</style>
