<form [formGroup]="form" (submit)="register()">
  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.company-name' | translate}}</mat-label>
    <input matInput id="companyName" name="companyName" formControlName="companyName" required>
    <mat-error *ngIf="isInvalidControl(form, 'companyName')">
      {{errorMessagesForControl(form, 'companyName')}}
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.ruc' | translate}}</mat-label>
    <input matInput id="ruc" name="ruc" formControlName="ruc" required>
    <mat-error *ngIf="isInvalidControl(form, 'ruc')">
      {{errorMessagesForControl(form, 'ruc')}}
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.email' | translate}}</mat-label>
    <input matInput id="email" name="email" formControlName="email" required>
    <mat-error *ngIf="isInvalidControl(form, 'email')">
      {{errorMessagesForControl(form, 'email')}}
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.full-name' | translate}}</mat-label>
    <input matInput id="completeName" name="completeName" formControlName="completeName" required>
    <mat-error *ngIf="isInvalidControl(form, 'completeName')">
      {{errorMessagesForControl(form, 'completeName')}}
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width">
    <mat-label>{{'iam.sign-in.labels.password' | translate}}</mat-label>
    <input matInput id="password" type="password" name="password" formControlName="password" required>
    <mat-error *ngIf="isInvalidControl(form, 'password')">
      {{errorMessagesForControl(form, 'password')}}
    </mat-error>
  </mat-form-field>

  <br>

  <mat-checkbox>
    {{'iam.sign-in.checkbox-privacy' | translate}}
  </mat-checkbox>

  <div class="center">
    <button mat-raised-button color="primary">{{'iam.sign-in.button-sign-in' | translate}}</button>
  </div>

</form>

<style>
  .center{
    text-align: center;
  }

  .full-width{
    width: 500px;
  }
</style>
